# SPDX-License-Identifier: MIT

# Feather は nRF52840 の DC/DC 用のコイルを載せているので、DC/DC を使う（Zephyr 本体の Feather の定義と同じ）
config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default y
    depends on BOARD_FEATHER_NRF52840_ZMK
